doctype html
html
    head
        block title
            原来的标题
    body
        //追加代码片段，可以使用 append 和 prepend 指令 (替换可不写)
        block content
            p 原来的内容
        block js
            p 我是原来的js