//- Doctype
doctype html
doctype xml
doctype transitional
doctype strict

//- 标签
ul
    li Item A
    li Item B
    li Item C

// 单行注释
p 单行输出注释
//- 这个单行注释不会输出到编译后的文件
p 单行不输出注释

//
    这个多行注释会输出到编译后的文件中
    这个多行注释会输出到编译后的文件中
p 多行输出注释
//-
    这个多行注释不会输出到编译后的文件中
    这个多行注释不会输出到编译后的文件中
p 多行不输出注释

// 属性
input(type='checkbox', checked)
input(
    type='checkbox'
    name='agreement'
    checked
)

